@charset "ISO-8859-1";
/* Estilos generales para Login y SignUp */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.LoginBox, .SignUpBox {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

h\:inputText, h\:inputSecret {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.sign-up-link {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.sign-up-link:hover {
    text-decoration: underline;
}


.submit-btn-link {
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-btn-link:hover {
    background-color: #0056b3;
}
